body {
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  width: 100%;
}

.head1,
.head2,
.head3,
.head4 {
  margin-top: 37px;
  width: 170px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px;
  border-radius: 30px;
  border-style: outset;

  border-color: lightgray;
  text-transform: uppercase;
  text-align: center;
  color: white;
  align-items: center;
  font-family: "Inter", sans-serif;
}

@media (min-width: 35em) {
  .logo {
    display: none;
  }
  .logo2 {
    margin-left: -12px;
  }
  .primary-navigation {
    align-items: center;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
  }
  .primary-header {
    justify-content: center;
    margin-top: 40px;
  }

  .primary-navigation a {
    border: 1px solid;
    border-style: outset;
    width: 170px;
    text-align: center;
    border-radius: 20px;
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  a:hover {
    background-image: url(/images/tumblr_olucp2SNGx1vsjcxvo1_r1_640.gif);
  }
}

header .head1:hover {
  background-image: url(/images/tumblr_olucp2SNGx1vsjcxvo1_r1_640.gif);
}
header .head2:hover {
  background-image: url(/images/tumblr_olucp2SNGx1vsjcxvo1_r1_640.gif);
}
header .head3:hover {
  background-image: url(/images/tumblr_olucp2SNGx1vsjcxvo1_r1_640.gif);
}
header .head4:hover {
  background-image: url(/images/tumblr_olucp2SNGx1vsjcxvo1_r1_640.gif);
}

header .img1 {
  height: 170px;
  margin-top: 60px;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.background {
  margin-top: -77px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: -1;
}

.top {
  position: absolute;
  max-width: 500px;
  width: 100%;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 350px;
  transform: translate(-50%, -50%);
}

.top2 {
  z-index: 99;
  position: absolute;
  width: 50px;
  margin-top: -110px;
  margin-left: 50%;
  display: block;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/*.info span:hover {
  animation: bounce 1s linear;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}*/

.city {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.period p {
  color: black;
}

.background p {
  position: absolute;
  top: 450px;
  background-color: black;
  font-family: inter;
  margin-left: 50%;
  display: block;
  margin-right: 50%;
  font-size: 2.75em;
  max-width: 550px;
  inline-size: 550px;
  border-radius: 20px;
  line-height: 0.85;
  text-align: center;
  transform: translate(-50%, -50%);
}

.middleText {
  font-family: inter;
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
}

.theCity {
  margin-top: 5px;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  position: relative;
  text-align: center;
}

.theCity p {
  position: absolute;
  margin-top: 2.5px;
  z-index: 9999999;
  inline-size: 850px;
}

.info {
  display: flex;
}

.info span {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin-top: -110px;
  inline-size: 250px;
  font-size: 1.5rem;
}

.info p {
  text-align: center;
  margin-top: 55px;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: inter;
  inline-size: 750px;
  position: absolute;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  inline-size: 590px;
  font-family: inter;
  margin-top: 75px;
  letter-spacing: 3px;
  padding-left: 15px;
}

.middleDiv {
  display: flex;
  margin-top: 150px;
}

.vcLogo {
  margin-top: 5px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}

.cityImg {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.theCity p {
  font-family: inter;
  inline-size: 790px;
  font-weight: 700;
  font-size: 3rem;
  color: black;
  text-align: left;
  line-height: 0.9;
  margin-left: 50%;
  margin-right: 50%;
  margin-left: 70px;
  margin-top: 55px;
}

.Newdiv {
  position: absolute;
  top: 80px;
  left: 90px;
  color: black;
  font-family: inter;
  width: 300px;
  text-align: left;
}

.Newdiv p {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  font-size: 2rem;

  inline-size: 500px;
}

.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.product-grid {
  margin-top: -625px;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.card {
  border: 0px solid;
  border-color: rgb(230, 230, 230);
  border-style: solid;
  border-radius: 20px;
  padding-right: 6px;
  aspect-ratio: 1 / 1;
  background-color: rgb(96, 96, 96);
}

.card__img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.insta {
  margin-left: 5px;
  margin-right: 10px;
  height: 70px;
  width: 70px;
}

.twitter {
  height: 77px;
  width: 77px;
}

.insta:hover {
  transform: scale(1.5);
}

.opensea:hover {
  transform: scale(1.5);
}

.twitter:hover {
  transform: scale(1.5);
}

.footer {
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
  display: flex;
  z-index: 9999;
  justify-content: space-between;
}

.footer .opensea {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  h1 {
    display: none;
  }
  .theCity p {
    inline-size: 200px;
  }
}
.theCity p {
  font-size: 2.8em;
  text-align: left;
}
.middleText p {
  font-size: 0.77rem;
}

.city {
  display: none;
}

.theCity p {
  max-width: 550px;
}

.theCity {
  margin-top: 570px;
}
.middleText {
  position: absolute;
  margin-top: 540px;
}

.card {
  width: 150px;
}
