body {
  background-color: black;
  color: white;
}

header {
  height: 107px;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.head1,
.head2,
.head3,
.head4 {
  margin-top: 37px;
  width: 170px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px;
  border-radius: 30px;
  border-style: outset;
  background: url(/images/vvbanner.gif);
  border-color: lightgray;
  text-transform: uppercase;
  text-align: center;
  color: white;
  align-items: center;
  font-family: "Inter", sans-serif;
}

header .head1:hover {
  background-image: url(/images/tumblr_olucp2SNGx1vsjcxvo1_r1_640.gif);
}
header .head2:hover {
  background-image: url(/images/tumblr_olucp2SNGx1vsjcxvo1_r1_640.gif);
}
header .head3:hover {
  background-image: url(/images/tumblr_olucp2SNGx1vsjcxvo1_r1_640.gif);
}
header .head4:hover {
  background-image: url(/images/tumblr_olucp2SNGx1vsjcxvo1_r1_640.gif);
}

header .img1 {
  height: 100px;
  margin-top: 40px;
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.city {
  margin-top: 395px;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.background p {
  position: absolute;
  top: 33%;
  font-family: inter;
  margin-left: 50%;
  display: block;
  margin-right: 50%;
  font-size: 2em;
  inline-size: 450px;
  text-align: center;
  transform: translate(-50%, -50%);
}
