body {
  font-family: "inter";
  color: white;
  background-color: black;
}

header {
  height: 107px;
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header .img1 {
    display: none;
  }
}

.head1 {
  margin-top: 37px;
  width: 170px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  border-style: outset;
  background: url(/images/vvbanner.gif);
  border-color: lightgray;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border-width: 1px;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.head2,
.head3,
.head4 {
  margin-top: 37px;
  width: 170px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px;
  border-radius: 30px;
  border-style: outset;
  background: url(/images/vvbanner.gif);
  border-color: lightgray;
  text-transform: uppercase;
  text-align: center;
  color: white;
  align-items: center;
  font-family: "Inter", sans-serif;
}

header .img1 {
  height: 150px;
  margin-top: 60px;
}

.about {
  width: 100%;
  max-width: 1128px;
  display: flex;
  min-width: 400px;
  margin-left: 50%;
  margin-right: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  margin-top: 255px;
  justify-content: center;
}

.about p {
  width: 100%;
  line-height: 25px;
  text-align: left;
  max-width: 950px;
  display: flex;
  margin-top: 150px;
}

@media only screen and (max-width: 768px) {
  .artifactGallery {
    flex-direction: column;
  }
  .about {
    margin-top: 420px;
  }
}

.artifactGallery {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}

.blackDiamonds,
.goldRing,
.doll,
.arch {
  flex-basis: 100%;
  width: 100%;
  max-width: 250px;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
  border-style: outset;
  border-radius: 20px;
}
