@font-face {
  font-family: "inversionz";
  src: url("/fonts/inversionz/Inversionz.otf");
  src: url("/fonts/inversionz/Inversionz.ttf");
  src: url("/fonts/inversionz/Inversionz\ Unboxed.otf");
  src: url("/fonts/inversionz/Inversionz\ Unboxed.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  background-color: black;
  color: white;
}

header {
  height: 107px;
  width: 100%;

  margin-left: 50%;
  margin-right: 50%;

  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.head1 {
  margin-top: 37px;
  width: 170px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  border-style: outset;

  border-color: lightgray;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border-width: 1px;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.head2,
.head3,
.head4 {
  margin-top: 37px;
  width: 170px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px;
  border-radius: 30px;
  border-style: outset;

  border-color: lightgray;
  text-transform: uppercase;
  text-align: center;
  color: white;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.head1:hover {
  background-image: url(/images/vvbanner.gif);
}
.head2:hover {
  background-image: url(/images/vvbanner.gif);
}
.head3:hover {
  background-image: url(/images/vvbanner.gif);
}
.head4:hover {
  background-image: url(/images/vvbanner.gif);
}

header .img1 {
  height: 100px;
  margin-top: 60px;
}

.banner .img2 {
  position: relative;
}

.banner .img3 {
  position: absolute;

  left: 255px;
  right: 0;
  top: 0;
  bottom: 0;

  max-width: 600px;
  width: 100%;
}
.banner {
  position: relative;
  width: 100%;
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
  color: white;
  margin-top: 50px;
}

.centertext {
  position: absolute;

  left: 255px;
  right: 0;
  top: 455px;
  bottom: 0;

  max-width: 600px;
  width: 100%;
  font-size: 3rem;
  line-height: 0.8;
  font-family: "Inter";
  font-weight: 700;
  text-transform: uppercase;
  z-index: 991;
  background-color: black;
}

/*.alpha {
  top: 745px;
  z-index: 40;
  position: absolute;
  font-family: inter;
  font-size: 1.3em;

  inline-size: 500px;
}*/

.metaworld span {
  z-index: 999999;
  position: absolute;
}
.metaworld {
  position: absolute;
  margin-top: -250px;
  max-width: 1400px;
  margin-left: 50%;
  margin-right: 50%;
  z-index: 99999;
}
.metatext {
  top: 770px;
  position: absolute;
  display: block;
  z-index: 60;
  margin-left: 50%;
  margin-right: 50%;
  font-family: "Inter";
  font-size: 3em;
  flex-wrap: wrap;
  text-align: center;
  height: auto;
  inline-size: 400px;
  width: 100%;
  color: black;
  transform: translate(-50%, -50%);
}
.metaverse {
  width: 1150px;

  position: absolute;
  text-align: center;
}
.metapic {
  height: auto;
  width: 100%;
  max-width: 1111px;
  top: 1025px;
  position: absolute;
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}

.metaDesc {
  font-family: "Inter";
  inline-size: 750px;
  justify-content: center;
  display: block;
  position: absolute;
  top: 1460px;
  margin-left: 50%;
  margin-right: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.metaworld .vvs {
  position: absolute;
  top: 1500px;
  justify-content: center;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.artifacts {
  margin-top: 250px;
  width: 1000px;
}

.artifacts .aTitle {
  top: 1730px;
  position: absolute;
  margin-left: 50.5%;
  justify-content: center;
  text-align: center;
  inline-size: 400px;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: "Inter";
  font-size: 2.5em;
}

.artifacts .aDesc {
  top: 1765px;
  position: absolute;
  margin-left: 51%;
  justify-content: center;
  text-align: center;
  inline-size: 500px;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: "Inter";
  font-size: 1em;
}

.artifacts .bDesc {
  margin-left: 51.5%;
  margin-top: 400px;
  z-index: 9999;
}

.artifacts .artifact2 {
  position: absolute;
  top: 2270px;
  justify-content: center;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  display: block;
  -ms-transform: translate(-50%, -50%);
  border-radius: 20px;
  border-style: outset;
  border-width: 1px;
  border-color: gray;
  height: 250px;
}

.price2 {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(77%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin-top: 1111px;
  font-size: 1.2em;
  font-family: inter;
  font-weight: 100;
  text-align: center;
  color: white;
  display: flex;
}

.price3 {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(77%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin-top: 1441px;
  font-size: 1.2em;
  font-family: inter;
  font-weight: 100;
  text-align: center;
  color: white;
  z-index: 4555;
  display: flex;
}

.price1 {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(77%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin-top: 1771px;
  font-size: 1.2em;
  z-index: 5555;
  font-family: inter;
  font-weight: 100;
  text-align: center;
  color: white;
  z-index: 4555;
  display: flex;
}

/*.price4 {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);

  margin-top: 1771px;
  font-size: 1.2em;
  z-index: 5555;
  font-family: inter;
  font-weight: 100;
  text-align: center;
  color: white;
  z-index: 4555;
  display: flex;
}*/

.hype {
  height: 25px;
  padding-right: 7px;
}

.artifacts .artifact3 {
  position: absolute;
  top: 2270px;
  justify-content: center;
  margin-left: 75%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 20px;
  border-style: outset;
  border-width: 1px;
  border-color: gray;
  height: 250px;
}

.artifacts .artifact1 {
  position: absolute;
  top: 2270px;
  width: 250px;
  z-index: -5;
  object-fit: cover;
  justify-content: center;
  margin-left: 25%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 20px;
  border-style: outset;
  border-width: 1px;
  border-color: gray;
  height: 250px;
}

.artifacts .artifact4 {
  position: absolute;
  top: 2600px;

  width: 250px;
  object-fit: cover;
  justify-content: center;
  margin-left: 25%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 20px;
  border-style: outset;
  border-width: 1px;
  border-color: gray;
  height: 250px;
}

.artifacts .artifact5 {
  position: absolute;
  top: 2600px;
  justify-content: center;
  margin-left: 50%;
  margin-right: 50%;
  display: block;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 20px;
  border-style: outset;
  border-color: gray;
  border-width: 1px;
  height: 250px;
}

.artifacts .artifact6 {
  position: absolute;
  top: 2600px;
  width: 250px;
  object-fit: cover;
  justify-content: center;
  margin-left: 75%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 20px;
  border-style: outset;
  border-width: 1px;
  display: block;
  border-color: gray;
  height: 250px;
}

.artifacts .artifact7 {
  position: absolute;
  top: 2930px;
  width: 250px;
  object-fit: cover;
  justify-content: center;
  display: block;
  margin-left: 75%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 20px;
  border-style: outset;
  border-color: gray;
  border-width: 1px;
  height: 250px;
}

.artifacts .artifact8 {
  position: absolute;
  top: 2930px;
  width: 250px;
  object-fit: cover;
  justify-content: center;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 20px;
  border-style: outset;
  border-color: gray;
  border-width: 1px;
  height: 250px;
}

a {
  text-decoration: none;
  color: white;
}

.artifacts .artifact9 {
  position: absolute;
  top: 2930px;
  width: 250px;
  object-fit: cover;
  justify-content: center;
  margin-left: 25%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 20px;
  border-width: 1px;
  border-style: outset;
  border-color: gray;
  height: 250px;
}

.downArrow {
  height: 40px;
  text-align: center;
  position: relative;
  left: 550px;
  top: 500px;

  display: block;
  z-index: 584584588;
  animation: animateDown infinite 3.1s;
}

.learnMore {
  position: absolute;
  margin-left: 500px;
  margin-right: 50%;
  margin-top: -420px;
  display: block;

  z-index: 555;

  font-size: 1.5em;
  font-family: inter;
  inline-size: 200px;
  text-align: center;
}

@keyframes animateDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(5px);
  }

  60% {
    transform: translateY(3px);
  }
}

.team {
  margin-top: 950px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  font-family: inter;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.team2 {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  font-family: inter;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.dan,
.monika,
.deniz,
.vinny,
.charlie,
.bartek,
.jacob,
.peter {
  width: 200px;
  height: 200px;
  object-fit: cover;

  margin-left: 15px;
  margin-right: 15px;
  border: solid 1px;
  border-style: outset;
  border-radius: 20px;
}

.member1,
.member2,
.member3,
.member4,
.member5,
.member6,
.member7,
.member8 {
  display: inline-block;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.eth {
  height: 23px;
  margin-top: -20px;
  margin-left: 61px;
}

.member1 > img,
.member2 > img,
.member3 > img,
.member4 > img,
.member5 > img,
.member6 > img,
.member7 > img,
.member8 > img {
  display: block;
}

@media only screen and (max-width: 768px) {
  .team {
    flex-wrap: wrap;
  }
  .team2 {
    flex-wrap: wrap;
  }
  header {
  }
  .product-grid {
    justify-content: center;
    overflow-x: hidden;
    gap: 1rem;
    display: flex;
    grid-template-columns: 1fr 1fr;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .background p {
    margin-top: -377px;
  }
  .img1 {
    display: none;
  }
  .banner {
    margin-top: 100px;
  }
  .centertext {
    display: none;
  }
  .alpha {
    margin-top: -720px;
  }
  .info .roam {
    font-size: 0.75rem;
    inline-size: 350px;
  }
  .head1,
  .head2,
  .head3,
  .head4 {
    margin-top: 15px;
    width: 100px;
    font-size: 0.7rem;
  }
  .theCity .discover {
    font-size: 1rem;
  }
  .separator {
    display: none;
  }
  .metaworld {
    margin-top: 540px;
  }
  .metaworld > img {
    margin-top: 450px;
  }
  .aTitle {
    margin-top: -500px;
  }
  .aDesc {
    margin-top: -500px;
  }
  .metaDesc {
    display: none;
  }
  .team {
    margin-top: 1130px;
  }
  .vvs {
    display: none;
  }
}

.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.container {
  margin-top: 800px;
  display: flex;
  margin-left: 50%;
  margin-right: 50%;
  text-align: center;

  width: 1400px;
  justify-content: center;
}

.product-grid {
  display: grid;
  gap: 4rem;
  margin-right: 240px;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.card {
  aspect-ratio: 1 / 1;
  max-width: 250px;
}

.card__price {
  font-size: 0.75rem;
}

.card__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 15px;
  border-style: inset;
}

.image > img {
  width: 1250px;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  position: absolute;

  top: -250px;
  display: block;
  width: 100%;
  margin-left: 50%;
  margin-right: 50%;
  width: 300px;
  height: 50px;
  font-family: inter;
  color: rgb(255, 255, 255);
  inline-size: 650px;
  font-size: 3rem;
}

.metaworld span {
  color: white;
  z-index: 999999;
  font-family: inter;
  font-size: 1.25rem;
  inline-size: 250px;
  margin-top: -50px;
}

.altText {
  margin-left: 935px;
}
