@font-face {
  src: url("/fonts/inversionz/Inter/Inter-VariableFont_slnt\,wght.ttf");
  font-family: "inversionz";
  src: url("/fonts/inversionz/Inversionz.otf");
  src: url("/fonts/inversionz/Inversionz.ttf");
  src: url("/fonts/inversionz/Inversionz\ Unboxed.otf");
  src: url("/fonts/inversionz/Inversionz\ Unboxed.ttf");

  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  margin: 0;
  color: white;
}

header {
  height: 101px;
  font-family: "Inter";
  font-size: 1.35em;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-left: 90px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  font-weight: 650;
  background-color: rgb(0, 0, 0);

  /*background-image: "vvbanner.gif";*/
}

header .ui {
  background: transparent;
  color: white;
  text-transform: uppercase;
  border: none;
  font-family: "inter";
  font-size: 1em;
}

header .btns .ui a:hover {
  color: rgb(143, 143, 143);
  transition: all 0.25s ease;
}

header .btns .uii {
  background: transparent;
  border: none;
  font-size: 1.5rem;
}

header .btns .uii a {
  color: #a02214;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  font-family: "inter";
  font-size: 1em;
  padding: mpme;
}

header .btns .ui:hover {
  color: rgb(143, 143, 143);
  transition: all 0.25s ease;
}

header .ui a {
  text-decoration: none;
  color: white;
}

header .btns {
  height: 120px;
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;

  justify-content: center;
  align-items: center;
  display: flex;

  justify-content: space-between;
}

.right-nav {
  align-items: center;
  display: flex;
  margin-right: 139px;
  margin-left: 15px;
}

.logo {
  height: 65px;
  width: 65px;
  margin-left: 75px;
}

.vlogo {
  margin-left: -70px;
  margin-right: 100px;
  height: 40px;
  width: 100%;
  object-fit: contain;
  min-width: 180px;
  align-items: center;
}

.upperBanner {
  background-image: url(/images/static.JPG);
  text-align: center;
  font-family: "inversionz";
  font-size: 2.5rem;
  color: #a02214;
}

.chooseGender > img {
  height: 550px;
}

.chooseGender {
  justify-content: center;
  display: flex;
}

.btn2,
.btn3 {
  height: 25px;
  width: 120px;
  margin-top: 200px;
  background: transparent;
  border-radius: 7.5px;
  color: white;
  font-family: inter;
}

.btn4 {
  padding-left: 35px;
  padding-right: 35px;

  height: 25px;
  background: transparent;
  border-radius: 7.5px;
  color: white;
  font-family: inter;
}

.subHead {
  margin-top: -5px;
  margin-bottom: 10px;
  font-family: inter;
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
}

.sliderContainer {
  width: 200px;
  border-radius: 25px;
  margin-top: 50px;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sliderContainer p {
  margin-top: 10px;
  inline-size: 275px;
  margin-left: -30px;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: silver;
  width: 200px;
  height: 5.5px;
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #a02214;
  opacity: 0.77;
  width: 10px;
  height: 26px;
  border-radius: 15px;
}

.opsAndCrew h1 {
  text-align: center;
  font-family: inversionz;
  font-weight: 300;
  font-size: 2.5rem;
}
